/*Citation: some code from body & button is based off of css from the lab */
/*Citation: some code from top navigation bar is based off of w3schools https://www.w3schools.com/howto/howto_js_topnav.asp */

body {
    background-color: #594d46;
    color: #fff3cd;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

button {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
}

/* Set top nav color */
.topnav {
  background-color: #1b1715;
  overflow: hidden;
}

/* Styles the links in the nav bar */
.topnav a {
  color: #fff3cd;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Changes the link color while you hover over it */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Changes the color of the link of the active page */
.topnav a.active {
  background-color: #fff3cd;
  color: black;
}

/* Styles little blurb text section in the "Meet the Cookies" page */
.blurb {
  margin: auto;
  width: 50%;
  border: 3px solid white;
  padding: 20px;
  text-align: left;

}

/* these style the specific divs for each character on last page*/
#herb {
  width: 80%;
  padding: 50px 0;
  text-align: center;
  background-color: lightgreen;
  margin-top: 20px;
  color: white;
}

#lilac {
  width: 80%;
  padding: 50px 0;
  text-align: center;
  background-color: #c386ff;
  margin-top: 20px;
  color: white;

}

#holly {
  width: 80%;
  padding: 50px 0;
  text-align: center;
  background-color: lightpink;
  margin-top: 20px;
  color: white;

}
